<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>

  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
  <script type="module" src="/build/s-ds-header.esm.js"></script>
  <script nomodule src="/build/s-ds-header.js"></script>

</head>
<body>
  <s-ds-header header="Header"></s-ds-header>

</body>
</html>
